<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Jeu de Noël</title>
</head>
<body>
	<div class="snow">
		<div>
			<article class="message-true">
				<h1>Bonne reponse !</h1>
                <p>Tu peux maintenant faire la question 2 !</p>
			</article>
		</div>
	</div>
</body>
</html>